header, footer{
  padding: 10px;
  background-color:chocolate;
  color: white;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}

li {
  list-style: none;
  display: inline-block;
}

li a {
  text-decoration: none;
  color:white;
}

main p {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: italic;
}

section {
  background-color: goldenrod;
  /* padding-bottom: 20px;
  padding-left: 200; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

article{
  border: solid;
  margin-bottom: 10px;
}

img{
  width: 15em;
  height: 15em;
}

.tituloarticulo{
  text-align: center;
  color:brown;
}

.linkProd{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

footer{
  display: flex;
  justify-content:center;
}