header, footer{
  padding: 0.2em 0.2em;
  background-color:dodgerblue;
  color: white;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}

li {
  list-style: none;
  display: inline-block;
}

li a {
  text-decoration: none;
  color:white;
}

main p {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: italic;
}

footer{
  display: flex;
  justify-content:space-evenly;
  padding-top: 10px;
  padding-bottom: 10px;
}